<section>
  <div class="container-fluid" style="min-height: 100vh; display: flex; flex-direction: column;">
    <div id="modal-holder"></div>
    <% if controller.controller_name != 'sessions' %>
      <%= render 'layouts/partials/messages' %>
    <% end %>
    <%= yield %>
  </div>
</section>
